@mixin flex($fd, $js, $at)
	display: flex
	flex-direction: $fd
	justify-content: $js 
	align-items: $at

$mainC: #09294a
$addC: #0087bd
$addC2: #000d0f

$warningColor: red

$blackC: #000
$whiteC: #fff

$mxW: 1200px

body 
	margin: 0
	padding: 0

* 
	box-sizing: border-box 
	font-family: 'Montserrat'


.header 
	width: 100%
	color: $whiteC 
	background-color: $addC

	&__logo
		font-size: 1.4rem 