@mixin flex($fd, $js, $at)
	display: flex
	flex-direction: $fd
	justify-content: $js 
	align-items: $at

$mainC: #09294a
$addC: #1faee9
$addC2: #000d0f

$blackC: #000
$whiteC: #fff

$mxW: 1200px

body 
	margin: 0
	padding: 0

* 
	box-sizing: border-box 


@font-face
	font-family: 'Montserrat'
	src: url('./fonts/Montserrat/Montserrat-Regular.ttf') format('ttf')


.header 
	width: 100%
	padding: 15px
	background-color: $addC
	color: $whiteC 
	font: 1rem 'Montserrat'