.wrraper 
	&_flexSb
		@include flex(row, space-between, center)

	&_p15
		padding: 15px

	&_colorBlue
		background-color: $addC

.warningMessage
	&_textTop
		justify-content: flex-start

	&_textLeft
		align-items: flex-start
		
		& > * 
			text-align: left

	&_hAuto
		height: auto 

	&_p15
		padding: 15px

.authButton 
	&_menuOpen 
		transform: translateY(0)
		opacity: 1 


.h100
	height: 100%

.pStatic
	position: static 


